---
title: Organization
---

<div>
  <h1><%= t('link.org') %></h1>
  <% data.orgs.each do |type,pairs| %>
    <h2><%= type %></h2>
    <ul>
      <% pairs.each do |person,pair| %>
        <li><%= pair.name %> (<%= pair.grade %>)</li>
      <% end %>
    </ul>
  <% end %>
</div>
